.cards-prada > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(490px, 1fr));
  grid-gap: 16px;
}

.cards-prada > ul > li {
  border: 1px solid var(--dark-color);
  background-color: var(--background-color);
  position: relative;
}

.cards-prada .cards-card-body {
  margin: 16px;
  position: absolute;
  top: 0;
  left: 0;
}

.cards-prada .cards-card-image {
  line-height: 0;
}

.cards-prada .cards-card-image img{
  border-radius: var(--border-radius);
}
.cards-prada .cards-card-body > *:first-child {
  margin-top: 0;
}

.cards-prada > ul > li img {
  width: 100%;
  object-fit: cover;
}


.cards-prada p {
    margin: 0;
}

.cards-prada p.button-container {
    margin-top: 1em;
}

.cards-prada a:any-link.button {
    width: fit-content;
    padding: var(--button-padding);
    background-color: transparent;
    border-radius: 0;
    color: black;
    padding: 0 0 0 0.2em;
    text-decoration: solid underline black;
    text-underline-offset: 6px;
    --transition-hp-animation: transform 0.6s ease-in-out 0.2s, opacity 0.6s ease-in-out 0.2s --background-product-image-color: #ebebed;
}

.cards-prada a:not(.dropin-design a):hover {
    text-decoration: none;
    text-underline-offset: 0px;
    color: white;
    background-color: black;
    --transition-hp-animation: transform 0.6s ease-in-out 0.2s, opacity 0.6s ease-in-out 0.2s --background-product-image-color: #ebebed;
}

.cards-prada h1,
.cards-prada h2,
.cards-prada h3,
.cards-prada h4 {
  font-size: bold;
}

@media (width <= 600px) {
  .cards-prada > ul {
    grid-template-columns: repeat(auto-fill, minmax(278px, 1fr));
  }
}
